:root {
  --pencil: #4a4a4a;
  --dark-blue: #00005f;
  --light-blue: #344384;
}
.filter-container * {
  color: var(--pencil)
}
.filter-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: white;
}
.label-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#clr-btn{
  background-color: var(--dark-blue);
  color: white;
  padding: 0.3rem;
  cursor: pointer;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.price-range {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.price-range label{
  font-weight: bold;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.rating {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
input{
    margin-right: 0.5rem;
}
.filter-hamburger{
  background-color:var(--pencil);
  width: 100%;
  color: white;
  padding: 0.3rem;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  z-index: 1
}
.finter-hamburger-height{
  height: 100px;
}
.filter-container-display{
  display: none;
}
.filter-submit{
  color: white;
  padding: 1rem;
  font-weight: bold;
  background-color: var(--light-blue);
}
@media(min-width:769px){
  .filter-submit{
    display: none;
  }
  .filter-hamburger{
    display: none;
  }
  .filter-container-display{
    display: block;
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
  }
}
