.filter-productlist-container {
  display: flex;
  justify-content: start;
}
.product-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 2rem;
}
.product-list-not-visible{
  display: none;
}
